; -*- ini -*-
[buildout]

parts =
    zope2
    plone
    instance
    zopepy
	
find-links =
    http://download.zope.org/distribution/
    http://effbot.org/downloads

eggs =
    SQLAlchemy 
    elementtree

develop =
    src/zc.table
    src/zc.resourcelibrary
    src/ore.alchemist
    src/ore.annotation
    src/ore.adaptedworkflow
    src/five.intid
;    src/hurry.workflow
;    src/ore.viewlet
;    src/plone.relations

[plone]
recipe = plone.recipe.plone

[zope2]
recipe = plone.recipe.zope2install
url = ${plone:zope2-url}

[instance]
recipe = plone.recipe.zope2instance
zope2-location = ${zope2:location}
user = admin:admin
http-address = 8084
debug-mode = on
verbose-security = on
	
eggs =
    ${buildout:eggs}
    ${plone:eggs}

products =
    ${buildout:directory}/develop-products
    ${plone:products}

[zopepy]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
extra-paths = ${zope2:location}/lib/python
scripts = zopepy
